@inherits ViewPage<OpenDocs.Service.Document>

@{
    ViewBag.Title = Model.Title;
}

<p>
    <input id="title" type="text" class="k-textbox" value="@Model.Title" />
</p>
<textarea id="editor" style="width: 100%; height: 600px;">@Model.Content</textarea>

<script>
    var kendoEditor;
    var model = {
        Id: @Model.Id,
        Revision: @Model.Revision,
        LastContent: '',
        getTitle: function() {
            return $('#title').val();
        },
        getContent: function() {
            // replace this with something? respondjs, react? wtf
            return kendoEditor.value();
        },
        setContent: function(result) {
            var range = kendoEditor.getRange();
            var startOffset = range.startOffset;
            var index = $(range.startContainer.parentElement).index();

            kendoEditor.value(result);

            moveCaret(kendoEditor, range, index, startOffset);
        }
    };

    $(function (){
        kendoEditor = $('#editor').kendoEditor()
            .data('kendoEditor');

        model.LastContent = model.getContent();

        setInterval(function() {
            OpenDocs.sync(model)
        }, 1000);
    });

    function moveCaret(editor, firstRange, index, startOffset) {
        var range = editor.getRange();

        if (range.collapsed) {
            var textNode = $(editor.body).find('p:eq(' + index + ')')
              .contents()
              .filter(function() {
                  return this.nodeType === 3; //Node.TEXT_NODE
              })[0];

            if(textNode) {
                console.log(startOffset);
                if(startOffset > textNode.length) {
                    startOffset = textNode.length;
                }


                range.setStart(textNode, startOffset);
                range.collapse(true); // collapse to start
                editor.selectRange(range);
            }
        }
    }
</script>
