@inherits ViewPage<OpenDocs.Service.Document>

@{
    ViewBag.Title = Model.Title;
}

<p>
    <input id="title" type="text" class="k-textbox" value="@Model.Title" />
</p>
<div id="spreadsheet" style="width: 100%;"></div>

<script>
    var kendoSpreadsheet;
    var model = {
        Id: @Model.Id,
        Revision: @Model.Revision,
        LastContent: '',
        getTitle: function() {
            return $('#title').val();
        },
        getContent: function() {
            var data = kendoSpreadsheet.toJSON();

            // remove instance specific data
            delete data.activeSheet;

            for(var i in data.sheets) {
                delete data.sheets[i].activeCell;
                delete data.sheets[i].selection;
            }

            return JSON.stringify(data);
        },
        setContent: function(result) {
            // Reinstate deleted properties with local data
            var currentData = kendoSpreadsheet.toJSON();
            var data = JSON.parse(result);

            // remove instance specific data
            data.activeSheet = currentData.activeSheet;

            for(var i in data.sheets) {
                data.sheets[i].activeCell = currentData.sheets[i].activeCell;
                data.sheets[i].selection = currentData.sheets[i].selection;
            }

            kendoSpreadsheet.fromJSON(data);
        }
    };

    $(function (){
        kendoSpreadsheet = $('#spreadsheet').kendoSpreadsheet()
            .data('kendoSpreadsheet');

        var initialData = '@Html.Raw(Model.Content)';

        if(!initialData) {
            initialData = '[]';
        }

        // Set view data
        kendoSpreadsheet.fromJSON(JSON.parse(initialData));
        model.LastContent = model.getContent();

        setInterval(function() {
            OpenDocs.sync(model)
        }, 1000);
    });
</script>